.jumbotron{
	background-color: blue;
  color: white;
}

#player-name{
	width:	60%;
}

.game-info  {
	font-size: 30px;
	border-style: double;
    text-align: center;
    margin-left: 25px;
    margin-top: 10px;
}

.whowon  {
	font-size: 30px;
	
    text-align: center;
    margin-left: 25px;
    margin-top: 10px;
}
